* {
  margin: 0;
  box-sizing: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: #0a2f35;
}

.container {
  padding-top: 25px;
  width: 450px;
background-color: #f1c27b;
  box-shadow: 0 0 10px rgb(209, 190, 190);
  display: flex;

  flex-direction: column;
  align-items: center;
}

.a4 {
  flex-grow: 1;
  width: 80%;
  padding-right: 15px;
}

.input-container {
  margin: 10px 10px;
}

input {
  margin-right: 10px;
}

.sit {
  width: 100%;
}

h1 {
  letter-spacing: 1.5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 10px;

}
h2 {
max-width:300px;
margin:0 auto;
color: #12492f ;
}
label {
font-size:18px;
}
.submit {
  cursor: pointer;
  margin-top: 20px;
  height: 45px;
  width: 100%;
  border: none;
  background-color: #b19162;
  color: aliceblue;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
